main.pdf
main.aux
main.log
main.bbl
main.blg
main.dvi
main.fls
authors.aux
authors.fdb_latexmk
authors.fls
authors.log
main.fdb_latexmk
main.synctex.gz
auto/**
*/__pycache__
__pycache__
.vscode/
main.synctex(busy)
